body {

    padding: 0;

    margin: 0;

    background-color: #454d6b;

}

/* css das paginas de cadastro e cadastrado com sucesso */

#cadastrar {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-header-cadastrar {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}

.card-header-cadastrar::after {

    padding-left: 60px;

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-sucesso {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:380px;

}

.card-header-sucesso {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}

.card-header-sucesso::after {

    padding-left: 240px;

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

/* css da pagina de login */

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-header-login {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}

.card-header-login::after {

    padding-left: 10px;

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

/* css geral */

.card {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:280px;

}

.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

}

.card-footer p,a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: rgb(255, 255, 255);

    text-decoration: none;

}

/* css da pagina de perfil */

#perfil {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 90vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-perfil{

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:480px;

}

/* css da pagina de cadastrado do projeto */

#projeto {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 80vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-projeto {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:380px;

}