body {

    padding: 0;

    margin: 0;

    background-color: #454d6b;

}

/* css das paginas de cadastro e cadastrado com sucesso */

#cadastrar {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 60em;

    font-family: Georgia, Times, 'Times New Roman', serif;

} 

.card-header-cadastrar {

    padding-bottom: 2em;

    opacity: 0.8;

    color: #fff;

}

.card-header-cadastrar::after {

    padding-left: 8em;

    content: "";

    width: 0.05em;

    height: 0.01em;

    background-color: #fff;

    display: block;

    margin-top: -1em;

    margin-left: -0.1em;

}

.card-sucesso {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:380px;

}

.card-header-sucesso {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}

.card-header-sucesso::after {

    padding-left: 240px;

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

/* css da pagina de login */

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-header-login {

    padding-bottom: 3em;

    opacity: 0.8;

    color: #fff;

}

.card-header-login::after {

    padding-left: 2em;

    content: "";

    width: 3em;

    height: 0.01em;

    background-color: #fff;

    display: block;

    margin-top: -0.9em;

    margin-left: -0.2em;

}

/* css geral */

.card {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 2em;

    border-radius: 2px;

    width: 20em;

}

.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 3em;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 1vh 0;

}

.card-footer p,a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: rgb(255, 255, 255);

    text-decoration: none;

}

/* css da pagina de perfil */

#perfil {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 80vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

#editar-perfil {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 90vh;

    font-family: Georgia, Times, 'Times New Roman', serif;

}


.card-perfil{

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width: 480px;

}

/* css da pagina de cadastrado do projeto */

#projeto {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 49.5em;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-projeto {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 2em;

    border-radius: 2px;

    width: 30em; 

}

#projeto-ver {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 50em;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

/* css da pagina de cadastrado do projeto */

#requisito {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 42em;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.card-requisito {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 2em;

    border-radius: 2px;

    width: 30em; 

}

#requisito-ver {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 41em;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

/* tela de projetos do programador */

.board-column{
    float: left;
    width: 20%;
    background:#ebecf0;
    margin-right: 3.5em;
    margin-left: 0.5em;
    min-height: 40em;
}

.board-column-meio-1{
    float: left;
    width: 20%;
    background:#ebecf0;
    margin-right: 3.5em;
    margin-left: 1em;
    min-height: 40em;
}

.board-column-meio-2{
    float: left;
    width: 20%;
    background:#ebecf0;
    margin-right: 1.5em;
    margin-left: 2.3em;
    min-height: 40em;
}

.board-column-final{
    float: left;
    width: 20%;
    background:#ebecf0;
    margin-left: 3em;
    min-height: 40em;
}

.board-column h3{
    text-align: center;
}

.board-column-meio-1 h3{
    text-align: center;
}

.board-column-meio-2 h3{
    text-align: center;
}

.board-column-final h3{
    text-align: center;
}

.board {
    min-height: 30px;
    padding: 10px;
    background: white;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    width: 97.9%;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    font-size: 15px;
}

.btn:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

scroll-container {
    display: block;
    width: 99%;
    height: 37.4em;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

scroll-page {
    display: absolute;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: 2em;
}